.row
  = render @lists
.row.text-center
  .col-md-8.ml-auto.mr-auto
    = link_to "New List",
      new_list_path,
      id: "new-list-btn",
      class: "btn btn-outline-info bg-white border-0 rounded-0 shadow-lg"

