= form_with scope: :todo_item, url: todo_list_todo_items_path(@todo_list) do |f|
  .input-group
    = f.text_field :name, id: :name, autofocus: true, required: true, pattern: ".*\\S+.*", class: "form-control"
    .input-group-append
      = f.submit "Add", class: "btn btn-outline-info"
