= form_with model: [@list, @list.todo_items.new],
  id: "new_todo_item_form",
  data: { target: "stimulus.form", action: "lists#onCreate ajax:success->lists#onCreateSuccess" } do |f|
  .input-group
    = f.text_field :content,
      autofocus:   true,
      required:    true,
      pattern:     ".*\\S+.*",
      id:          "new_todo_item_content",
      class:       "form-control form-control-sm border-0 shadow-none py-0 px-2",
      data: { target: "lists.newTodoInput" }
    = f.button octicon('plus', height: 16),
      class: "btn btn-sm btn-outline-info rounded-circle",
      data: { disable_with: octicon('plus', height: 16) }

