= form_with model: [@todo_list, @todo_list.todo_items.new] do |f|
  .input-group
    = f.text_field :content,
      autofocus: true,
      required: true,
      pattern: ".*\\S+.*",
      class: "form-control form-control-sm"
    .input-group-append
      = f.button octicon('plus-small', height: 16),
        class: "btn btn-sm btn-outline-info",
        data: { disable_with: octicon('plus-small', height: 16) }

