.col-sm-8.ml-auto.mr-auto
  = link_to todo_list_path(todo_list) do
    .card.todo-list__card.mb-4.border-0.rounded-0
      .card-body.text-center.p-3
        %h2.todo-list__title= todo_list.title
        %p.text-dark.mb-0= todo_list.description

