.row.mt-5
  - @todo_lists.each do |list|
    .col-sm-8.ml-auto.mr-auto
      = link_to todo_list_path(list) do
        .card.todo-list__card.mb-4.border-0.rounded-0
          .card-body.text-center.p-3
            %h2.todo-list__title= list.title
            %p.text-dark.mb-0= list.description
.row.text-center.mb-5
  .col-md-8.ml-auto.mr-auto
    = link_to "New List", new_todo_list_path,
      id: "new-list-btn",
      class: "btn btn-outline-info bg-white border-0 rounded-0 shadow-lg"

