/* Base */
ul {
  list-style-type: none;
  padding-left: 0;
}

h1, h2 {
  color: var(--info);
}

a {
  color: var(--info);
  &:hover {
    text-decoration: none;
    color: var(--secondary);
  }
}

/* Bootstrap */
.card {
  @extend .shadow-lg;
}

.btn {
  @extend .shadow-sm;
}

/* Custom */
.list-group-item {
  padding: 0.5rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  @extend .text-black-50;
}

.clear-completed-btn {
  @extend .form-control, .btn, .rounded-0, .border-0, .shadow-sm;
  &--enabled {
    @extend .btn-outline-info, .shadow-lg;
  }
  &--disabled {
    @extend .btn-outline-secondary;
  }
}



.form-control:disabled {
  background-color: transparent;
}

.todo-text {
  @extend .text-dark;
  overflow-wrap: break-word;
  word-break: break-all;
}

.btn-not-completed:hover {
  color: $cyan;
  background-color: transparent;
}
