.list-group-item {
  padding: 0.5rem 0.5rem;
}

.completed {
  text-decoration: line-through;
}

.edit-todo-form {
  display: none;
}

.clickable:hover {
  cursor: pointer;
  background-color: #17A2B8;
  color: #FFFFFF !important;
}

