.completed {
  text-decoration: line-through;
}

.todo-text {
  width: 80%;
}

.edit-todo-form {
  display: none;
}

.todo-buttons {
  width: 20%;
}

// .delete-btn {
//   display: none;
//   margin: 0 2px;
// }

// .edit-btn {
//   display: none;
//   margin: 0 2px;
// }

.clickable:hover {
  cursor: pointer;
  background-color: #17A2B8;
  color: #FFFFFF !important;
}

